[Unit]
Description=Publish git.lucas.co if repos changed

[Service]
Type=oneshot
ExecStart=%h/Dropbox/src/gitsite/autodeploy.sh
StandardOutput=append:%h/.cache/gitsite/autodeploy.log
StandardError=append:%h/.cache/gitsite/autodeploy.log
